#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout;
    };

    physical_layout: physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "ISO TKL";
        kscan = <&kscan0>;
        transform = <&default_transform>;
        keys
            // Row 0: ESC, F1-F12, 2 unused
            = <&key_physical_attrs 100 100    0   0 0 0 0>  // 0: ESC
            , <&key_physical_attrs 100 100  200   0 0 0 0>  // 1: F1
            , <&key_physical_attrs 100 100  300   0 0 0 0>  // 2: F2
            , <&key_physical_attrs 100 100  400   0 0 0 0>  // 3: F3
            , <&key_physical_attrs 100 100  500   0 0 0 0>  // 4: F4
            , <&key_physical_attrs 100 100  650   0 0 0 0>  // 5: F5
            , <&key_physical_attrs 100 100  750   0 0 0 0>  // 6: F6
            , <&key_physical_attrs 100 100  850   0 0 0 0>  // 7: F7
            , <&key_physical_attrs 100 100  950   0 0 0 0>  // 8: F8
            , <&key_physical_attrs 100 100 1100   0 0 0 0>  // 9: F9
            , <&key_physical_attrs 100 100 1200   0 0 0 0>  // 10: F10
            , <&key_physical_attrs 100 100 1300   0 0 0 0>  // 11: F11
            , <&key_physical_attrs 100 100 1400   0 0 0 0>  // 12: F12
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 13: unused (encoder)
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 14: unused (encoder)
            // Row 1: Number row + Insert (15 keys)
            , <&key_physical_attrs 100 100    0  120 0 0 0>  // 15: `
            , <&key_physical_attrs 100 100  100  120 0 0 0>  // 16: 1
            , <&key_physical_attrs 100 100  200  120 0 0 0>  // 17: 2
            , <&key_physical_attrs 100 100  300  120 0 0 0>  // 18: 3
            , <&key_physical_attrs 100 100  400  120 0 0 0>  // 19: 4
            , <&key_physical_attrs 100 100  500  120 0 0 0>  // 20: 5
            , <&key_physical_attrs 100 100  600  120 0 0 0>  // 21: 6
            , <&key_physical_attrs 100 100  700  120 0 0 0>  // 22: 7
            , <&key_physical_attrs 100 100  800  120 0 0 0>  // 23: 8
            , <&key_physical_attrs 100 100  900  120 0 0 0>  // 24: 9
            , <&key_physical_attrs 100 100 1000  120 0 0 0>  // 25: 0
            , <&key_physical_attrs 100 100 1100  120 0 0 0>  // 26: -
            , <&key_physical_attrs 100 100 1200  120 0 0 0>  // 27: =
            , <&key_physical_attrs 200 100 1300  120 0 0 0>  // 28: Backspace
            , <&key_physical_attrs 100 100 1525  120 0 0 0>  // 29: Insert
            // Row 2: Tab row + unused + Delete (15 keys)
            , <&key_physical_attrs 150 100    0  220 0 0 0>  // 30: Tab
            , <&key_physical_attrs 100 100  150  220 0 0 0>  // 31: Q
            , <&key_physical_attrs 100 100  250  220 0 0 0>  // 32: W
            , <&key_physical_attrs 100 100  350  220 0 0 0>  // 33: E
            , <&key_physical_attrs 100 100  450  220 0 0 0>  // 34: R
            , <&key_physical_attrs 100 100  550  220 0 0 0>  // 35: T
            , <&key_physical_attrs 100 100  650  220 0 0 0>  // 36: Y
            , <&key_physical_attrs 100 100  750  220 0 0 0>  // 37: U
            , <&key_physical_attrs 100 100  850  220 0 0 0>  // 38: I
            , <&key_physical_attrs 100 100  950  220 0 0 0>  // 39: O
            , <&key_physical_attrs 100 100 1050  220 0 0 0>  // 40: P
            , <&key_physical_attrs 100 100 1150  220 0 0 0>  // 41: [
            , <&key_physical_attrs 100 100 1250  220 0 0 0>  // 42: ]
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 43: unused (ISO Enter)
            , <&key_physical_attrs 100 100 1525  220 0 0 0>  // 44: Delete
            // Row 3: Caps row + ISO Enter + Home (15 keys)
            , <&key_physical_attrs 175 100    0  320 0 0 0>  // 45: Caps
            , <&key_physical_attrs 100 100  175  320 0 0 0>  // 46: A
            , <&key_physical_attrs 100 100  275  320 0 0 0>  // 47: S
            , <&key_physical_attrs 100 100  375  320 0 0 0>  // 48: D
            , <&key_physical_attrs 100 100  475  320 0 0 0>  // 49: F
            , <&key_physical_attrs 100 100  575  320 0 0 0>  // 50: G
            , <&key_physical_attrs 100 100  675  320 0 0 0>  // 51: H
            , <&key_physical_attrs 100 100  775  320 0 0 0>  // 52: J
            , <&key_physical_attrs 100 100  875  320 0 0 0>  // 53: K
            , <&key_physical_attrs 100 100  975  320 0 0 0>  // 54: L
            , <&key_physical_attrs 100 100 1075  320 0 0 0>  // 55: ;
            , <&key_physical_attrs 100 100 1175  320 0 0 0>  // 56: '
            , <&key_physical_attrs 100 100 1275  320 0 0 0>  // 57: ISO #
            , <&key_physical_attrs 125 200 1375  220 0 0 0>  // 58: ISO Enter
            , <&key_physical_attrs 100 100 1525  320 0 0 0>  // 59: Home
            // Row 4: Shift row + Up + End (15 keys)
            , <&key_physical_attrs 125 100    0  420 0 0 0>  // 60: LShift
            , <&key_physical_attrs 100 100  125  420 0 0 0>  // 61: ISO backslash
            , <&key_physical_attrs 100 100  225  420 0 0 0>  // 62: Z
            , <&key_physical_attrs 100 100  325  420 0 0 0>  // 63: X
            , <&key_physical_attrs 100 100  425  420 0 0 0>  // 64: C
            , <&key_physical_attrs 100 100  525  420 0 0 0>  // 65: V
            , <&key_physical_attrs 100 100  625  420 0 0 0>  // 66: B
            , <&key_physical_attrs 100 100  725  420 0 0 0>  // 67: N
            , <&key_physical_attrs 100 100  825  420 0 0 0>  // 68: M
            , <&key_physical_attrs 100 100  925  420 0 0 0>  // 69: ,
            , <&key_physical_attrs 100 100 1025  420 0 0 0>  // 70: .
            , <&key_physical_attrs 100 100 1125  420 0 0 0>  // 71: /
            , <&key_physical_attrs 275 100 1225  420 0 0 0>  // 72: RShift
            , <&key_physical_attrs 100 100 1525  420 0 0 0>  // 73: Up
            , <&key_physical_attrs 100 100 1625  420 0 0 0>  // 74: End
            // Row 5: Bottom row + arrows + PgUp (15 keys, 5 unused)
            , <&key_physical_attrs 125 100    0  520 0 0 0>  // 75: LCtrl
            , <&key_physical_attrs 125 100  125  520 0 0 0>  // 76: LWin
            , <&key_physical_attrs 125 100  250  520 0 0 0>  // 77: LAlt
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 78: unused
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 79: unused
            , <&key_physical_attrs 625 100  375  520 0 0 0>  // 80: Space
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 81: unused
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 82: unused
            , <&key_physical_attrs   0   0    0   0 0 0 0>  // 83: unused
            , <&key_physical_attrs 125 100 1000  520 0 0 0>  // 84: RAlt
            , <&key_physical_attrs 125 100 1125  520 0 0 0>  // 85: Fn
            , <&key_physical_attrs 100 100 1425  520 0 0 0>  // 86: Left
            , <&key_physical_attrs 100 100 1525  520 0 0 0>  // 87: Down
            , <&key_physical_attrs 100 100 1625  520 0 0 0>  // 88: Right
            , <&key_physical_attrs 100 100 1725  520 0 0 0>  // 89: PgUp
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <15>;
        rows = <6>;
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13) RC(2,14)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13) RC(3,14)
RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10) RC(4,11) RC(4,12) RC(4,13) RC(4,14)
RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5) RC(5,6) RC(5,7) RC(5,8) RC(5,9) RC(5,10) RC(5,11) RC(5,12) RC(5,13) RC(5,14)
        >;
    };

    kscan0: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        row-gpios
            = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        col-gpios
            = <&shift_reg 8 GPIO_ACTIVE_HIGH>
            , <&shift_reg 15 GPIO_ACTIVE_HIGH>
            , <&shift_reg 14 GPIO_ACTIVE_HIGH>
            , <&shift_reg 13 GPIO_ACTIVE_HIGH>
            , <&shift_reg 12 GPIO_ACTIVE_HIGH>
            , <&shift_reg 11 GPIO_ACTIVE_HIGH>
            , <&shift_reg 10 GPIO_ACTIVE_HIGH>
            , <&shift_reg 9 GPIO_ACTIVE_HIGH>
            , <&shift_reg 7 GPIO_ACTIVE_HIGH>
            , <&shift_reg 6 GPIO_ACTIVE_HIGH>
            , <&shift_reg 5 GPIO_ACTIVE_HIGH>
            , <&shift_reg 4 GPIO_ACTIVE_HIGH>
            , <&shift_reg 3 GPIO_ACTIVE_HIGH>
            , <&shift_reg 2 GPIO_ACTIVE_HIGH>
            , <&shift_reg 1 GPIO_ACTIVE_HIGH>
            ;
    };

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        a-gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>, <&right_encoder>;
        triggers-per-rotation = <20>;
    };
};

&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
    
    shift_reg: 595@0 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <200000>;
        #gpio-cells = <2>;
        reg = <0>;
        ngpios = <16>;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 7)>, <NRF_PSEL(SPIM_SCK, 1, 2)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 1, 7)>, <NRF_PSEL(SPIM_SCK, 1, 2)>;
            low-power-enable;
        };
    };
};